*{
  font-family: arial;
}

body{
  background: #f2f2f2;
}

.navbar{
  width: 100%;
  height: 60px;
  padding: 12px 32px;
  margin: auto;
  background: #fabc3f;
}

.logo{
  width: 50px;
  float: left;
}

.logo img{
  width: 50px;
}

ul{
  float: right;
}

li{
  display: inline-block;
  padding: 0px 16px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 8px;
}

li:hover{
  background: black;
  color: #fabc3f;
}